
<h1> Your Teams </h1>
<i class="fas fa-bars"></i>
<div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"
<% @teams.each do |t| %>
<li class="nav-item">
  <%= link_to t.team_name, user_team_path(current_user, t)%><br>
<% end %>
