<header class="masthead">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-lg-7 my-auto">

          <%=render 'form'%>

<div class="img"><%= image_tag("steph.jpg", width: 400, class: "img-responsive center-block") %>
</div>
