<br>
<h2> Here is your team! </h2>
<h3> "Click to Edit Team:"<%= link_to @team.team_name, edit_user_team_path(current_user, @team) %> </h3>

<% @team.players.each do |p| %>
  <%=  p.fullname + ', ' + p.position + ', ' + p.country %><br>
  <%  end %>
<%= link_to 'Delete Team', user_team_path(@team), method: :delete %>

<!-- active/ team captain submittable form -->
<!-- @team.player_teams   -->
