
    <div class="container h-100">
      <div class="row h-100">
        <section class="contact bg-primary" id="contact">

<h2 class="section-heading">
<h2> List of NBA Players </h2>


  <h2>Guards</h2>
  <ul>
    <% @guards.each do |p| %>
    <%=  p.fullname + ' -- ' + p.country %><br/>
    <% end %>
  </ul>
  <h2>Forwards</h2>
    <ul>
      <% @forwards.each do |p| %>
      <%=  p.fullname + ' -- ' + p.country%><br/>
      <% end %>
    </ul>

  <h2>Centers</h2>
      <ul>
        <% @centers.each do |p| %>
        <%=  p.fullname + ' -- ' + p.country%><br/>
        <% end %>
      </ul>
